{% extends 'template.html' %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %} - {{ article.title }}{% endblock %}

{% block seo %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}/uploads/{{ blog.sidebar_picture }}" />
{% endblock %}

{% block content %} 
    {% if messages %}
        {% for message in messages %}
            {% if message|stringformat:"s" == "COMMENT_ADDED" %}
            <div class="alert alert-success" role="alert">
                <strong>Votre commentaire a été ajouté</strong>, il sera validé par l'administrateur·rice.
            </div>
            {% elif message|stringformat:"s" == "WRONG_ANSWER" %}
            <div class="alert alert-danger" role="alert">
                <strong>Mince!</strong> Vous n'avez pas donner la bonne réponse à la question.
            </div>
            {% elif message|stringformat:"s" == "BAD_FORM" %}
            <div class="alert alert-warning" role="alert">
                <strong>Monci!</strong> Vous n'avez pas totalement rempli le formulaire.
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <section class="article{% if article.hide_image %} hidden{% endif %}">
        <div class="card">
            {% if article.cover %}<div class="card-cover-image-big" style="background-image: url('/uploads/{{ article.cover }}')"></div>{% endif %}
            <div class="card-body">
                <a href="{% url 'blog:category' article.category.slug %}" class="article-category">{{ article.category.name }}</a>
                <h2 class="card-title text-center">{{ article.title }}</h2>

                <span class="article-details">{{ article.publication_date|date }}</span>
                <div class="vertical-separator"></div>
                {{ article.content|markdown }}
                <hr>
                <p class="card-text article-social">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Publié par {{ article.author.username }}</span>
                    <span 
                        class="mastodon-share-button"
                        data-target="{{ request.META.HTTP_HOST }}{{ request.get_full_path }}"
                        data-name="{{ article.title }}"
                        data-buttonstyle="btn-as-text float-md-right"
                        data-text="Mastodon"
                    ></span> 
                    <!--<a class="btn-as-text float-md-right" href="javascript:;" onclick="window.open('https://share.diasporafoundation.org/?url={{ request.META.HTTP_HOST }}{{ request.get_full_path }}&title='+encodeURI('{{ article.title }}'),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550'); return false;" rel="nofollow" target="_blank">
                        <i class="fa fa-diaspora" aria-hidden="true"></i>&nbsp; Diaspora*
                    </a>-->
    
                </p>
                <hr>
            </div>
        </div>
        <hr>
        {% if comments %}
        <h4 id="comments">Commentaire{% if comments|length > 1 %}s{% endif %}<span class="pull-right"><i class="fa fa-comments" aria-hidden="true"></i></span></h4>
        {% for comment in comments %}
        <div class="card">
            <div class="card-header card-header-comment"><strong>{{ comment.username }}</strong><span class="pull-right">{{ comment.publication_date|date }}</span></div>
            <div class="card-body comment-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} ">
                {{ comment.content|markdown }}
            </div>
        </div>
        {% endfor %}
        </ul>
        </ul>
        {% else %}
            <div class="alert alert-info">Il n'y a pas encore de commentaires pour cet article</div>
        {% endif %}
        <hr>
        {% if question %}
        <h4>Ajouter un commentaire</h4>
        <form action="{% url 'blog:add_comment' article.slug %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="username" class="bold">Nom d'utilisateur:</label>
                    <input type="text" class="form-control" name="comment_username" id="comment_username" placeholder="Votre nom d'utilisateur" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="comment" class="bold">Votre commentaire:</label>
                    <textarea rows="10" id="comment" name="comment_comment" placeholder="Votre commentaire" class="form-control" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="answer" class="bold">Répondez à la question: {{ question.question }}:</label>
                    <input type="hidden" name="comment_question" value="{{ question.id }}">
                    <input type="text" class="form-control" name="comment_answer" id="comment_answer" placeholder="42" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Envoyer</button>
        </form>
        {% else %}
        <div class="alert alert-primary">Veuillez ajouter une ou plusieurs questions pour activer les commentaires</div>
        {% endif %}
    </section>

    {% if article.hide_image %}
        <script>
            let contentWarning = {
                display: true,
                content: '{{ article.disclaimer }}'
            }
        </script>
    {% endif %}
{% endblock %}
