{% extends 'template.html' %}
{% load markdown_deux_tags %}

{% block title %} - {{ article.title }}{% endblock %}

{% block header %}
    <h3 class="maintitle">{{ category.name }}</h3>
    <i class="fa fa-list-alt" aria-hidden="true"></i> <a href="#comments">{{ articles.count }} article{% if articles.count > 1 %}s{% endif %}</a>
{% endblock %}

{% block content %}
<div class="container">

    {% if articles %}
        {% include "includes/pagination.html" %}
        <div class="row">
        {% for article in articles %}
        <div class="col">
            <div class="card">
                <img class="card-img-top card-img-top-list" src="/uploads/{{ article.cover }}" alt="Card image cap">
                <div class="card-body">
                        <a href="{% url 'blog:article' article.slug %}">
                            <h2 class="card-title text-center article-title">{{ article.title }}</h2>
                        </a>
                        <span class="article-details">{{ article.publication_date|date }}</span>
                        <div class="vertical-separator"></div>
                        {{ article.content|markdown|truncatewords:20 }}
                    </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
        {% endif %}
        {% endfor %}
        </div>
        <span class="margin-top"></span>
        {% include "includes/pagination.html" %}
    {% else %}
        <h4 class="title">Oops! Il n'y a pas encore d'article ici.</h4>
    {% endif %}
</div>
{% endblock %}

