{% load static %}
{% load markdown_deux_tags %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ blog.name }}{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/alertify/alertify.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/alertify/themes/default.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/fork-awesome.min.css' %}"/>
        <link rel="icon" href="{% static 'blog/img/favicon.png' %}"/>

        <meta property="og:title" content="Alyve" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ request.build_absolute_uri }}uploads/{{ blog.sidebar_picture }}" />
    </head>
    <body>

    <header class="text-center">
        <h3>{{ blog.name }}</h3>
        <p class="description">{{blog.description }}</p>

        <ul>
            <li><a href="{% url 'blog:index' %}">Accueil</a></li>
            {% if pages %}
            {% for page in pages %}
            <li><a href="{% url 'blog:page' page.slug %}">{{ page.name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </header>

        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xl-3 sidebar">
                        <span class="label">À propos</span>
                    {% if blog.sidebar_picture %}
                        <img src="../../../uploads/{{ blog.sidebar_picture }}" alt="Logo">
                        <div class="vertical-separator"></div>
                    {% endif %}
                    
                    {% if blog.sidebar_title %}
                        <h6>{{ blog.sidebar_title }}</h6>
                    {% endif %}
                    
                    {% if blog.sidebar_description %}
                        {{ blog.sidebar_description|markdown }}
                    {% endif %}
                    {% if social %}
                    <div class="social">
                        <span class="label">Suivez moi</span>
                        <div class="row">
                            {% for s in social %}
                            {% if s.sidebar %}
                            <div class="col">
                                <div class="socialbox">
                                    <a href="{{ s.link }}" target="_blank" >
                                    {% if s.network == 'RSS_FLUX' %}
                                        <i class="fa fa-2x fa-rss" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'GITHUB' %}
                                        <i class="fa fa-2x fa-github" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'LINKED_IN' %}
                                        <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'INSTAGRAM' %}
                                        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'FACEBOOK' %}
                                        <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'BITBUCKET' %}
                                        <i class="fa fa-2x fa-bitbucket" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'GOOGLE_PLUS' %}
                                        <i class="fa fa-2x fa-google-plus" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'YOUTUBE' %}
                                        <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'MASTODON' %}
                                        <i class="fa fa-2x fa-mastodon" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'PEERTUBE' %}
                                        <i class="fa fa-2x fa-peertube" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% elif s.network == 'DIASPORA' %}
                                        <i class="fa fa-2x fa-diaspora" aria-hidden="true"></i><br/>{{ s.shortcut }}
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if categories %}
                    <div class="categories-list vertical-separator">
                        <span class="label">Catégories</span>
                        <ul>
                            {% for category in categories %}
                            <li{% if not forloop.first %} class="vertical-separator"{% endif %}><a href="{% url 'blog:category' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!--
                    <div class="col-xl-3">
                        <span class="bold">SITEMAP</span>
                        <ul class="list-unstyled">
                            <li>Catégories</li>
                            <li>Auteur·e</li>
                            <li>Archives</li>
                            <li>Atom</li>
                        </ul>
                    </div>
                    -->
                    <div class="col-xl-4">
                        {% if social %}
                        <span class="bold uppercase">Média sociaux</span>
                        <ul class="list-unstyled">
                            {% for s in social %}
                            <li><a href="{{ s.link }}">{{ s.shortcut }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-xl-4">
                        {% if links %}
                        <span class="bold uppercase">Liens</span>
                        <ul class="list-unstyled">
                            {% for link in links %}
                            <li><a href="{{ link.link }}">{{ link.shortcut }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-xl-4 text-right">
                        <p>Created by Alyve with <span class="primary">❤</span>.</br>
                        © Alyve 2017 - 2018</p>
                    </div>
                </div>
            </div>
        </footer>

    {% include "includes/mastodon.html" %}
    <script src="{% static 'blog/js/alertify.min.js' %}"></script>
    <script src="{% static 'blog/js/blog.js' %}"></script>
    <script src="{% static 'blog/js/mastodon.js' %}"></script>
    </body>
</html>
