{% load static %}
{% load markdown_deux_tags %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ blog.name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/fork-awesome.min.css' %}"/>
    </head>
    <body>

    <header class="text-center">
        <h3>{{ blog.name }}</h3>
        <p class="description">{{blog.description }}</p>

        <ul>
            <li><a href="{% url 'blog:index' %}">Acceuil</a></li>
            {% if pages %}
            {% for page in pages %}
            <li><a href="{% url 'blog:page' page.slug %}">{{ page.name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </header>

        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xl-3 sidebar">
                        <span class="label">À propos</span>
                    {% if blog.sidebar_picture %}
                        <img src="../../../uploads/{{ blog.sidebar_picture }}" alt="Logo">
                        <div class="vertical-separator"></div>
                    {% endif %}
                    
                    {% if blog.sidebar_title %}
                        <h6>{{ blog.sidebar_title }}</h6>
                    {% endif %}
                    
                    {% if blog.sidebar_description %}
                        {{ blog.sidebar_description|markdown }}
                    {% endif %}
                    <div class="social">
                        <span class="label">Suivez moi</span>
                        <div class="row">
                            <div class="col">
                                <div class="socialbox">
                                        <i class="fa fa-2x fa-mastodon" aria-hidden="true"></i>&nbsp;Mastodon 
                                </div>
                            </div>
                            <div class="col">
                                <div class="socialbox">
                                        <i class="fa fa-2x fa-mastodon" aria-hidden="true"></i>&nbsp;Mastodon 
                                </div>
                            </div>
                            <div class="col">
                                <div class="socialbox">
                                        <i class="fa fa-2x fa-mastodon" aria-hidden="true"></i>&nbsp;Mastodon 
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if categories %}
                    <div class="categories-list vertical-separator">
                        <span class="label">Catégories</span>
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'blog:category' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!--
                    <div class="col-xl-3">
                        <span class="bold">SITEMAP</span>
                        <ul class="list-unstyled">
                            <li>Catégories</li>
                            <li>Auteur·e</li>
                            <li>Archives</li>
                            <li>Atom</li>
                        </ul>
                    </div>
                    -->
                    <div class="col-xl-4">
                        {% if social %}
                        <span class="bold uppercase">Média sociaux</span>
                        <ul class="list-unstyled">
                            {% for s in social %}
                            <li><a href="{{ s.link }}">{{ s.shortcut }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-xl-4">
                        {% if links %}
                        <span class="bold uppercase">Liens</span>
                        <ul class="list-unstyled">
                            {% for link in links %}
                            <li><a href="{{ link.link }}">{{ link.shortcut }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-xl-4 text-right">
                        <p>Created by Alyve with <span class="primary">❤</span>.</br>
                        © Alyve 2017 - 2018</p>
                    </div>
                </div>
            </div>
        </footer>

    {% include "includes/mastodon.html" %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'blog/js/blog.js' %}"></script>
    <script src="{% static 'blog/js/mastodon.js' %}"></script>
    </body>
</html>