/*
** Header
*/

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
}

header h3 {
    font-size: 300%;
    font-weight: initial;
}

header ul li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header ul, .categories-list ul {
    padding: 0px !important;
}
  
header li > a {
    color: #5b5b5b;
}
  
header li > a:hover {
    color: black;
}

header li > a, header li > a:hover {
    transition-duration: .3s;
}

/**
** Sidebar
*/

.label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    height: 2.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    position: relative;
}
  
.label:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: black transparent transparent transparent;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 85%;
}

.socialbox {
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
    line-height: 2em;
    box-shadow: 0px 0px;
    padding-top: 16px;
}

.socialbox a,
.socialbox a:hover {
    transition-duration: .3s;
}
.socialbox a { color: #5b5b5b; }
.socialbox a:hover { color: black; }

.categories-list li {
    font-size: .9rem;
    list-style: none;
    text-transform: uppercase;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.categories-list a {
    color: #5B5B5B;
}

.categories-list a:hover {
    padding-left: 1em;
    color: black;
}

.categories-list a,
.categories-list a:hover {
    transition-duration: .3s;
}

/*
** Articles
*/

.card-first-article img {
    display: none;
}
.article-category,
.article-details {
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
}

.article-category {
    background-color: black;
    color: #F5F5F5;
    text-align: center;
    padding: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.article-category:hover {
    color: #FF3366;
}

.article-title,
.article-title:hover,
.article-category,
.article-category:hover {
    transition-duration: .3s;
}

.article-details {
    display: inline-block;
    margin-bottom: 1em;
    color: #5b5b5b;
    margin-left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}

.card-cover-image-big {
    height: 20rem;
    background-size: cover;
    background-position: center center;
}

/*
** Pagination
*/

.page-item a{ color: #000000; }
.page-item a:hover { color: #000000; }

/*
** Buttons customizaton 
*/

.footer {
    width: 100%;
    color: #F5F5F5;
    background-color: #000000;
    margin-top: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer a {
    color: #F5F5F5;
    font-size: .9rem;
}
/*
** Misc
*/

.margin-top { margin-top: 1em; }
a:hover { text-decoration: none; }
a h2 { color: black; }
a h2:hover { color: #FF3366; }
.italic { font-style: italic; }
.vertical-separator { margin-top: 1em; }
.bold { font-weight: bold; }
.uppercase { text-transform: uppercase;}
.sidebar img {
    width: 100%;
}

@media (max-width: 1199.98px) {
    .sidebar img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;   
        margin-top: 2em;
    }
    header {
        height: 20vh;
    }
    
}

.hidden img {
    display: none;
}

.card {
    border: 0px solid white;
}
/*
** Mastodon Share Button
*/

.btn-as-text {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.article-social > * {
    margin-left: 1em;
    margin-right: 1em;
}

.article-social a,
.article-social button {
    color: #5B5B5B;
    transition-duration: .3s;
}

.article-social a:hover,
.article-social button:hover {
    color: #000000;
}

.primary { color: #FF3366; }

#mastodon-share-button { display: none; }